#welcome {
    padding: 10px;
    background: #f7f7f7;
    margin: 20px 0 20px 0;
    border-left: 6px solid #8aa08e;
}

#hello {
    letter-spacing: -1px;
    border-bottom: 0;
    margin-bottom: 5px;
    padding: 0;
    font-size: 300%;
    font-weight: normal;
}

#hello-name {
    color: #62a35a;
}

#position {
    color: #888;
}

.blog-post {
    padding: 15px;
    margin: 10px 0;
    background: #fafafa;
}

.blog-title {
    color: #62a35a;
    font-weight: normal;
    border-bottom: 0;
    margin-bottom: 0;
}

.blog-post .user-info .avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}

.blog-post .user-info {
    margin: 0 0 15px 0;
}
