body {
    font-family: 'Roboto', Arial, Helvetica, Verdana;
    background: #d7d7d9;
    background: radial-gradient(circle, #f4f4f4, #c6c6c6);
    font-size: 95%;
    color: #444;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.clear {
    clear: both;
}

a,
a:visited {
    color: #62a35a;
}
