#menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin: 1px;
    padding: 8px;
    font-size: 100%;
    letter-spacing: 1px;
}

.menu-item a {
    color: #555;
    font-family: 'Noto Sans', Roboto;
    font-size: 95%;
}

.menu-item-url {
    color: #444f46;
    text-decoration: none;
}

.menu-item-url:hover {
    text-decoration: none;
}

.menu-item-hr {
    margin-bottom: 5px;
    margin-top: 5px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-icon {
    color: #62a35a;
    width: 20px;
}
